.sortable-item {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  outline: none;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.4), 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 2px 0 rgba(34, 33, 81, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.sortable-item.dragging {
  transform: scale(1.025);
  box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5), -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);
  opacity: 0.9;
  z-index: 1000;
}

/* Disable pointer events on content when dragging */
.sortable-item.dragging * {
  pointer-events: none;
}
